
<div class="header navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<button class="navbar-toggle btn navbar-btn" data-toggle="collapse" target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN LOGO (you can use logo image instead of text)-->
			<a class="navbar-brand logo-v1" href="index.html">
				<img src="assets/img/logo_blue.png" id="logoimg" alt="">
			</a>
			<!-- END LOGO -->
		</div>

		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
						Home
						<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="active"><a href="index.html">Home Default</a></li>
						<li><a href="page_home2.html">Home with Top Bar</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
						Pages
						<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="page_about.html">About Us</a></li>
						<li><a href="page_services.html">Services</a></li>
						<li><a href="page_prices.html">Prices</a></li>
						<li><a href="page_faq.html">FAQ</a></li>
						<li><a href="page_gallery.html">Gallery</a></li>
						<li><a href="page_search_result.html">Search Result</a></li>
						<li><a href="page_404.html">404</a></li>
						<li><a href="page_500.html">500</a></li>
						<li><a href="page_contacts.html">Contact</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
						Features
						<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="feature_typography.html">Typography</a></li>
						<li><a href="feature_buttons.html">Buttons</a></li>
						<li><a href="feature_forms.html">Forms</a></li>
						<li><a href="feature_icons.html">Icons</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
						Portfolio
						<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="portfolio_4.html">Portfolio 4</a></li>
						<li><a href="portfolio_3.html">Portfolio 3</a></li>
						<li><a href="portfolio_2.html">Portfolio 2</a></li>
						<li><a href="portfolio_item.html">Portfolio Item</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
						Blog
						<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="blog.html">Blog Page</a></li>
						<li><a href="blog_item.html">Blog Item</a></li>
					</ul>
				</li>
				<li><a href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin&page=index.html" target="_blank">Admin Theme</a></li>
				<li class="menu-search">
					<span class="sep"></span>
					<i class="icon-search search-btn"></i>

					<div class="search-box">
						<form action="#">
							<div class="input-group input-large">
								<input class="form-control" type="text" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn theme-btn">Go</button>
                                    </span>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- BEGIN TOP NAVIGATION MENU -->
	</div>
</div>
<!-- END HEADER -->

